<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.huss22.decisionmaker"
        version   = "1.0.0">

    <name>Ask App</name>

    <description>
        An App that helps you make decisions and looks good while doing it!
    </description>

    <author href="http://decisionmaker.firebase.com" email="hasnain.afzal.22@gmail.com">
        TwoSquared Team
    </author>

    <!-- Plugins -->
    <preference name="permissions" value="none"/>
    <!-- Core plugins -->
    <feature name="org.apache.cordova.device" />
    <feature name="org.apache.cordova.device-motion" />
    <feature name="org.apache.cordova.device-orientation" />
    <feature name="org.apache.cordova.dialogs" />
    <feature name="org.apache.cordova.file" />
    <feature name="org.apache.cordova.globalization" />
    <feature name="org.apache.cordova.inappbrowser" />
    <feature name="org.apache.cordova.media" />
    <feature name="org.apache.cordova.network-information" />
    <feature name="org.apache.cordova.splashscreen" />

    <!-- Third party plugins -->
    <!-- A list of available plugins are available at https://build.phonegap.com/plugins -->
    <!--
        <gap:plugin name="com.phonegap.plugins.barcodescanner" />
    -->

    <icon src="icon.png" />
    
    <gap:config-file platform="ios" parent="CFBundleShortVersionString">
    <string>100</string>
    </gap:config-file>

    <!--
        Define access to external domains.
        <access />            - a blank access tag denies access to all external resources.
        <access origin="*" /> - a wildcard access tag allows access to all external resource.
        Otherwise, you can specify specific domains:
    -->
    <access origin="*"/>
    <!--
        <access origin="http://phonegap.com" />                    - allow any secure requests to http://phonegap.com/
        <access origin="http://phonegap.com" subdomains="true" />  - same as above, but including subdomains, such as http://build.phonegap.com/
        <access origin="http://phonegap.com" browserOnly="true" /> - only allows http://phonegap.com to be opened by the child browser.
    -->

</widget>
