<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <!-- Angulars Material CSS now available via Google CDN; version 0.6 used here -->
    <script src="bower_components/scripts/firebase.js"></script>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="bower_components/fa/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/angular-material/themes/light-blue-dark-theme.css">
    <link rel="stylesheet" href="bower_components/Style/alertify.core.css">
    <link rel="stylesheet" href="bower_components/Style/alertify.default.css">
    <link rel="stylesheet" href="bower_components/Style/style.css">
    <link rel="stylesheet" href="bower_components/Style/bootstrap.min.css">
</head>

<body ng-app="DecMak">
    <div ng-controller="AppCtrl" layout="column" layout-fill>

        <md-toolbar class="md-light-blue-dark-theme logo">
            <h2 class="md-toolbar-tools">
                    <span style="margin-left:50px;">ASK APP</span>
                  </h2>
        </md-toolbar>

        <md-content>
            <md-tabs md-selected="data.selectedIndex" class="md-light-blue-dark-theme">


                <md-tab id="tab4" aria-controls="tab4-content">
                    <i class="fa fa-bullhorn fa-lg"></i>
                    <br>
                    <div style="font-size:11px">
                        <span>My</span>
                        <br>
                        <span>Questions</span>
                    </div>
                </md-tab>

                <md-tab id="tab3" aria-controls="tab3-content">
                    <i class="fa fa-globe fa-lg"></i>
                    <br>
                    <div style="font-size:11px">
                        <span>Ask the</span>
                        <br>
                        <span>World</span>
                    </div>
                </md-tab>


                <md-tab id="tab1" aria-controls="tab1-content">
                    <i class="fa fa-question-circle fa-lg"></i>
                    <br>
                    <div style="font-size:11px">
                        <span>Decision</span>
                        <br>
                        <span>Maker</span>
                    </div>
                </md-tab>
                <md-tab id="tab2" aria-controls="tab2-content">
                    <i class="fa fa-puzzle-piece fa-lg"></i>
                    <br>
                    <div style="font-size:11px">
                        <span>Ask</span>
                        <br>
                        <span>The App</span>
                    </div>
                </md-tab>

            </md-tabs>

            <div layout="column">
                <!--Tab 4-->
                <ng-switch on="data.selectedIndex" class="tabpanel-container">
                    <div layout="column" layout-margin role="tabpanel" id="tab4-content" aria-labelledby="tab4" ng-switch-when="0" md-swipe-left="next()" md-swipe-right="previous()">
                        <md-subheader class="md-primary">Questions I Have Asked the World</md-subheader>
                        <md-list ng-repeat="question in myqs | orderBy:'-$id'">
                            <md-item>
                                <md-item-content>
                                    <div layout="column" class="md-tile-content" layout="column">
                                        <div layout="row">
                                            <h3 flex>{{ question.Question }}</h3>
                                            <span style="color:#03a9f4;" data-livestamp="{{question.timestamp}}"></span>
                                        </div>

                                        <div>
                                            <progress layout-margin>
                                                <bar value="100*question.Yes/(+question.Yes + question.No + question.Skip) | number:0" type="success"><span ng-hide="bar.value < 5">{{100*question.Yes/(+question.Yes + question.No + question.Skip) | number:0}}%</span>
                                                </bar>
                                                <bar value="100*question.No/(+question.Yes + question.No + question.Skip) | number:0" type="danger"><span ng-hide="bar.value < 5">{{100*question.No/(+question.Yes + question.No + question.Skip) | number:0}}%</span>
                                                </bar>
                                                <bar value="100*question.Skip/(+question.Yes + question.No + question.Skip) - 1 | number:0" type="info"><span ng-hide="bar.value < 5">{{100*question.Skip/(+question.Yes + question.No + question.Skip) | number:0}}%</span>
                                                </bar>
                                            </progress>
                                        </div>
                                    </div>
                                </md-item-content>
                            </md-item>
                        </md-list>
                    </div>
                </ng-switch>
                <!--Tab 2-->
                <ng-switch on="data.selectedIndex" class="tabpanel-container">
                    <div layout="column" layout-margin role="tabpanel" id="tab1-content" aria-labelledby="tab2" ng-switch-when="3" md-swipe-left="next()" md-swipe-right="previous()">
                        <div layout="column" class="md-whiteframe-z1">
                            <md-toolbar class="md-light-blue-dark-theme">
                                <h2 class="md-toolbar-tools">
                            <span>Ask a Yes or No Question Below</span>
                        </h2>
                            </md-toolbar>
                            <div layout="row" layout-padding>
                                <md-input-container flex="80">
                                    <label>Ask a Question</label>
                                    <input type="text" id="quesbox" placeholder="" ng-model="YourValue" />
                                </md-input-container>
                                <md-button flex="20" class="md-raised md-light-blue-dark-theme md-primary" ng-click="ques()">Ask</i>
                                </md-button>
                            </div>
                        </div>
                        <br/>

                        <div layout="column" class="md-whiteframe-z1">
                            <md-toolbar class="md-light-blue-dark-theme md-accent">
                                <h1 class="md-toolbar-tools"><b>My Question is:</b></h1>

                            </md-toolbar>
                            <md-content layout-margin layout-padding>
                                <span>{{YourValue}}</span>
                            </md-content>
                        </div>
                        <br/>

                        <div layout="column" class="md-whiteframe-z1">
                            <md-toolbar class="md-light-blue-dark-theme md-primary">
                                <h1 class="md-toolbar-tools"><b>Your Answer is:</b></h1>

                            </md-toolbar>
                            <div layout="row" layout-padding id="rotatingha" layout-align="center center">
                                <md-button flex="50" id="yarotate" class="md-raised md-light-blue-dark-theme md-accent">Yes</md-button>
                                <md-button flex="50" id="narotate" style="display:none" class="md-raised md-light-blue-dark-theme md-warn">No</md-button>
                            </div>
                            <div layout="row" layout-align="center center" layout-padding id="spinningSquaresG" style="display:none">
                                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                            </div>
                            <div layout="row" layout-align="center center" layout-padding>
                                <md-button flex="50" id="answerq" style="display:none" class="md-raised md-light-blue-dark-theme md-primary" ng-bind="qun">{{qun}}</md-button>
                            </div>
                        </div>
                    </div>
                </ng-switch>

                <ng-switch on="data.selectedIndex" class="tabpanel-container">
                    <div layout="column" layout-margin role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="2" md-swipe-left="next()" md-swipe-right="previous()">

                        <md-toolbar class="md-light-blue-dark-theme">
                            <h2 class="md-toolbar-tools">
                            <span>Add Options Below</span>
                        </h2>
                        </md-toolbar>

                        <div layout="row" layout-padding class="md-whiteframe-z1">
                            <md-input-container flex="80">
                                <label>Add your options</label>
                                <input type="text" id="choicebox" placeholder="" />
                            </md-input-container>
                            <md-button flex="20" class="md-raised md-light-blue-dark-theme md-primary" ng-click="putchoice()"><i class="fa fa-plus fa-2x"></i>
                            </md-button>
                        </div>
                        </br>
                        <div layout="column" class="md-whiteframe-z1" id="initialopt" style="display:none">
                            <md-toolbar class="md-light-blue-dark-theme md-accent">
                                <h2 class="md-toolbar-tools">
                            <span id = "optchange">My Options are:</span>
                        </h2>
                            </md-toolbar>
                            <md-list id="choices">
                                <md-item ng-repeat="c in cho">
                                    <md-item-content id="{{c}}">
                                        <div layout="row" class="md-tile-content" layout-margin>
                                            <div flex>
                                                <h3 flex>{{c}} </h3>
                                            </div>
                                            <div layout-align="end end"><i style="color:red;" class="fa fa-2x fa-trash" id="{{c}}a" ng-click="remove()"></i>
                                            </div>
                                        </div>
                                    </md-item-content>
                                    <md-divider ng-if="!$last"></md-divider>
                                </md-item>
                            </md-list>
                        </div>
                        </br>
                        <div layout="column" class="md-whiteframe-z1">
                            <md-toolbar style="background-color: transparent">
                                <div layout="row" class="md-toolbar-tools" layout-margin>
                                    <md-button ng-click="makedecision()" flex class="md-raised md-accent"><i class="fa fa-check"></i> Make a Decision</md-button>
                                </div>
                            </md-toolbar>
                            <md-toolbar style="background-color: transparent">
                                <div layout="row" class="md-toolbar-tools" layout-margin>
                                    <md-button aria-label="smthng" ng-click="tryagain()" class="md-raised md-light-blue-dark-theme md-primary"><i class="fa fa-repeat"></i> Start Again</md-button>

                                    <md-button ng-click="retryagain()" flex class="md-raised md-light-blue-dark-theme md-primary"><i class="fa fa-refresh"></i> Retry Decision</md-button>
                                </div>
                            </md-toolbar>
                        </div>
                    </div>
                </ng-switch>

                <!--Tab 3-->
                <ng-switch on="data.selectedIndex" class="tabpanel-container">
                    <div layout="column" layout-margin role="tabpanel" id="tab3-content" aria-labelledby="tab3" ng-switch-when="1" md-swipe-left="next()" md-swipe-right="previous()">
                        <div layout="column" class="md-whiteframe-z1">
                            <md-toolbar class="md-light-blue-dark-theme">
                                <h2 class="md-toolbar-tools">
                            <span>Ask the world a Question, as a Yes or No Question</span>
                        </h2>
                            </md-toolbar>
                            <div layout="row" layout-padding>
                                <md-input-container flex="80">
                                    <label>Ask a Question</label>
                                    <input type="text" id="quesbox" placeholder="" ng-model="newquestion" />
                                </md-input-container>
                                <md-button flex="20" class="md-raised md-light-blue-dark-theme md-primary" ng-click="worldqask(newquestion)">Ask</i>
                                </md-button>
                            </div>
                        </div>
                        </br>
                        <md-subheader class="md-primary">Questions the world is asking:</md-subheader>
                        <md-toolbar class="md-light-blue-dark-theme md-whiteframe-z1" layout-padding>
                            <span>{{rq}}</span>
                        </md-toolbar>
                        <div layout="column" layout-padding class="md-whiteframe-z1">
                            <div layout="row" layout-margin>
                                <md-button flex class="md-raised md-light-blue-dark-theme md-accent" data-ng-click="upvote()">Yes</md-button>
                                <md-button flex class="md-raised md-light-blue-dark-theme md-warn" data-ng-click="downvote()">No</md-button>
                                <md-button flex class="md-raised md-light-blue-dark-theme md-primary" data-ng-click="skipvote()">Skip</md-button>
                            </div>
                            <div>
                                <h3>Current Question Stats:</h3>
                                <progress layout-margin>
                                    <bar ng-repeat="bar in stacked track by $index" value="bar.value" type="{{bar.type}}"><span ng-hide="bar.value < 5">{{bar.value}}%</span>
                                    </bar>
                                </progress>
                            </div>
                        </div>
                    </div>

                </ng-switch>
            </div>

        </md-content>

    </div>

    <!-- Angular Material Dependencies -->
    <script src="bower_components/hammerjs/hammer.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/scripts/angular-touch.min.js"></script>

    <!-- Angular Material Javascript now available via Google CDN; version 0.6 used here -->
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/scripts/angularfire.min.js"></script>
    <script src="bower_components/scripts/jquery.js"></script>
    <script src="bower_components/scripts/alertify.js"></script>
    <script src="bower_components/scripts/moment.js"></script>
    <script src="bower_components/scripts/livestamp.js"></script>
    <script src="bower_components/scripts/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <script src="bower_components/scripts/main.js"></script>
    <script src="bower_components/scripts/app.js"></script>


</body>

</html>
